
{% extends "pop_base.html" %}

{% block title %}
新規商品
{% endblock %}

{% block content %}
<h1 align="center">新規商品</h1>
<form name="myform" action="/product/add" method = "post" onsubmit="rank()">
商品名:<input type='text' name='name'><br>
商品番号:<input type='text' name='identifer'><br>

カテゴリ:
<select name="category_id">
    {% for category in categories %}
    <option value="{{category.id}}">{{category.name}}</option>
    {% else %}
    <option value=""></option>
    {% endfor %}
</select><br>

販売価格:<input type='number' name='selling_price' min=0><br>
仕入れ価格:<input type='number' name='purchase_price' min=0><br>
仕入れ店:
<select name="store_id">
    {% for store in stores %}
    <option value="{{store.id}}">{{store.name}}</option>
    {% else %}
    <option value=""></option>
    {% endfor %}
</select><br>

在庫:<input type='number' name='stock' min=0><br>
<input type="button" value="追加" onClick="rank()">
</form>
{% endblock %}
